html, body {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

table{
  border-collapse: none;
  border-spacing: 0px;
}
table{
  
  width:80%;
  border-radius: 52px;
  line-height: 14px;

}
th{
  text-align: left;
  color:white;
  margin: 0;
  padding: 10px;
}
td{
  padding: 10px;
}
thead tr{
  background-color: #474ce1;
}

tr:nth-child(2n){
  background-color: #d6d6d6;
  color:  #325db3;
  font-weight: bolder
}
.table{
  display: inline-block;
}